/* #container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
} */
#card{
    /* border: 1px solid red; */
    padding: 20px 0px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* margin-top: -10px; */
}
#card>img{
    height: 600px;
}
#images{
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#data>img{
    width: 90%;
    height: 500px;
}
body{
    background-color: #fe7201;
}
#footer{
    margin: auto;
    margin-top: 200px;
    /* border: 1px solid black; */
   cursor: pointer;
    height: 300px;
    width: 85%;
    display: flex;
    
 }

 #footer>div{
    height: 250px;
    width: 150px;
    /* border: 1px solid black; */
 }

 .gift-card{
    
    font-size: 10px;
    color: black;
    line-height: 19px;
 }

 #help-zara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: 550;
    line-height: 30px;
 }
 
 
 #india{
    
    margin: auto;
    margin-top: 160px;
    height: 50px;
    
    /* border: 1px solid black; */
    width: 85%;
    justify-content: space-between;
    display: flex;
      
 }

 #spain{
    margin: auto;
     height: 100px;
     width: 85%;
     margin-top: 60px;
 }
 .origin{
    font-size: 10px;
    color: gray;
    line-height: 15px;
 }

