html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
    padding: 0%;
    
    
}

*{
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    font-stretch: ultra-condensed;
}

#payment-header{
    width: 85%;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 50px;
    font-family:'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif ;
}

#warning{
    
     margin-left: 80px;
    color: #FFA90B;
    font-size: 14px;
    border: 1px solid #FFA90B;
    width: 600px;
    padding: 20px;
     
}


#pay-option{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 20px;
   
    

}
.pay-option-item{
    border: 1px solid rgb(182, 175, 175);
    width: 145px;
    height: 135px;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;

}

#payment-img{
    height: 100px;
    width: 100px;
}

#pay-name{
    font-size: 10px;
}

#gift{
    
   margin-left: 100px;
    width: 145px;
    height: 135px;
    border: 1px solid rgb(182, 175, 175);
    text-align: center;
    margin-bottom: 16px;
}
#cod{
    
    margin-left: 100px;
     width: 145px;
     height: 135px;
     border: 1px solid rgb(206, 204, 204);
     text-align: center;
     margin-bottom: 16px;
     
 }
#cod-img{
    height: 80px;
    width: 80px;
     
}
#End-payemnt{
    height: 80px;
    width: 30%;
    margin: auto;
    border: 1px solid  black;
   
}


