html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
 
 

* {
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    
     
}

#personal{
    font-weight: 600;
}

#logpage {
    width: 60%;
    height: 50%;
     padding-top: 180px;
    margin-left: 160px;
}

#check {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    font-size: 12px;
}

#checkmarkp {
    color: black;
}


/* #check div {
     margin-left: 2px;
     font-size: 10px;
 } */

#checklast {
    font-size: 10px;
}

#fill input {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 25px;
    padding: 5px;
}


/* 
 #checkmark {
     border-radius: 50px;
 } */

#email {
    border: 0.01px solid gray;
    margin-top: 10px;
    width: 40%;
    height: 10px;
}

#password {
    border: 0.01px solid gray;
    margin-top: 10px;
    width: 40%;
    height: 10px;
}

#reapeatpassword {
    width: 45%;
    height: 10px;
    margin-top: 10px;
    margin-left: 15px;
    border: 0.01px solid gray;
}

#name {
    border: 0.01px solid gray;
    margin-top: 10px;
    width: 40%;
    height: 10px;
}

#gst {
    border: 0.01px solid gray;
    margin-top: 10px;
    width: 40%;
    height: 10px;
}

#com {
    width: 45%;
    height: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: 0.01px solid gray;
}

#pin {
    width: 45%;
    height: 10px;
    margin-top: 10px;
    margin-left: 15px;
    border: 0.01px solid gray;
}

#address {
    border: 0.01px solid gray;
    margin-top: 10px;
    width: 40%;
    height: 10px;
}

#optional {
    width: 45%;
    height: 10px;
    margin-top: 15px;
    margin-left: 15px;
    border: 0.01px solid gray;
}

#locality {
    border: 0.01px solid gray;
    border-radius: 3px;
    width: 40%;
    height: 10px;
    margin-top: 10px;
}

#city {
    width: 45%;
    height: 10px;
    margin-top: 10px;
    margin-left: 15px;
    border: 0.01px solid rgb(94, 79, 79);
}

#state {
    width: 40%;
    height: 20px;
    border: 0.5px solid gray;
    margin-top: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: grey;
}

#stateR {
    width: 12%;
    height: 20px;
    border: 0.5px solid gray;
    margin-top: 20px;
    margin-left: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    color: grey;
}

#mobile {
    width: 26%;
    height: 10px;
    /* margin-top: 10px; */
    margin-left: 15px;
    border: 0.01px solid gray;
}

#tel {
    width: 10%;
    height: 10px;
    border: 0.01px solid gray;
}

#bttn button {
    width: 27em;
    height: 2.7em;
    background-color: black;
    color: white;
    margin-top: 25px;
}

#bttn button a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

#companyfill {
    display: none;
}

#fb {
    font-size: 10px;
    color: grey;
}