
#card{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    padding: 20px 0px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 30px;

    /* margin-top: -10px; */
}
#card>img{
    height: 600px;
}
#images{
   /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#data>img{
    width: 70%;
    /* height: 500px; */
}

#filter{
    margin-top: 100px;
    justify-content: end;
    background-color: transparent;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid black;
 }
