/* #container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
} */
#card{
    /* border: 1px solid red; */
    padding: 20px 0px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* margin-top: -10px; */
}
#card>img{
    height: 600px;
}
#images{
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#data>img{
    width: 90%;
    height: 500px;
}
body{
    background-color: #fe7201;
}

